<style>
  body { min-height: 100vh; display: flex; justify-content: center; align-items: center; }
  .container { display: flex; flex-direction: column; align-items: center;  }
  h1 { margin: 0; text-align: center; margin-bottom: 1rem; }
  .search-box { padding: 12px 20px; width: 100%; border: 2px solid var(--body-font-color); font-size: 16px; outline: none; transition: border-color 0.3s; }
  .search-box:focus { border-color: var(--color-link); }
  .links { display: flex; gap: 0.5rem; justify-content: center; margin-top: 1rem; }
  .dropdown { width: 100%; }
  .dropdown ul { position: absolute; z-index: 100; padding: 0; margin: 0; background: var(--gray-100); }
  .dropdown ul li { list-style: none; padding: 12px 20px; font-size: 16px; }
  .dropdown ul li:hover { background-color: var(--color-link); }
  .dropdown ul li:hover a { color: #fff; }
  .dropdown ul li small { display: none; }
</style>
<div class="container">
  <h1>{{ .Site.Title }}</h1>
  <input type="text" class="search-box" id="book-search-input" placeholder="Search..." autofocus aria-label="Search"
    maxlength="64" data-hotkeys="s/">
  <div class="dropdown">
    <ul id="book-search-results"></ul>
  </div>
  <div class="links">
    <a href="/heroes/">Heroes</a> •
    <a href="/rules/">Rules</a> •
    <a href="/world/">World</a> •
    <a href="/items/">Items</a> •
    <a href="#">Files</a> •
    <a href="https://discord.gg/XwUPJVnX">Discord</a>
  </div>

</div>